.flw {
  width: 100%;
}


label.m {
    display:block;
    font-weight:700;
    background:#eee;
    padding:.3em;
    margin-bottom:.5em;
}

// Radios
mat-radio-group {
    padding: 1em 0;
    display: block;
}

mat-radio-button {
    padding-right:1em;
}

.fc {
    margin:1em 0;
}

.fcc {
    margin:0 1em;

    @media(max-width:599px) {
            margin: 0 .3em;
    }
}




// Card title
.mat-card-title {
    margin: -24px -24px 1.2em -24px !important;
    padding: .5em;
    background-color: $m-card-title-bg;
    color: $m-card-title;

    @media (max-width: 599px) {
        margin: -26px -17px 1.2em -17px !important;
        font-size: 1.35em;
        text-align: center;
    }
}

// Radio with long answers
.lg-rad {
    .mat-radio-button {
        display: block;
        margin-bottom: .8em;
    }

    .mat-radio-label {
        white-space: normal;
        vertical-align: top;
    }

    .mat-radio-container {
        align-self: flex-start;
        margin-top: .15em;
    }
}


// Select 
.mat-select-trigger {
    margin: 1em;
    border-bottom: 1px solid #ccc;
    padding-bottom: .5em;
} 