.flw {
  width: 100%;
}


label.m {
    display:block;
    font-weight:700;
    background:#eee;
    padding:.3em;
    margin-bottom:.5em;
}

// Radios
mat-radio-group {
    padding: 1em 0;
    display: block;
}

mat-radio-button {
    padding-right:1em;
}


// Card title
.mat-card-title {
    margin: -24px -24px 1.2em -24px !important;
    padding: .5em;
    background-color: $m-card-title-bg;
    color: $m-card-title;

    @media (max-width: 599px) {
        margin: -26px -17px 1.2em -17px !important;
        font-size: 1.35em;
        text-align: center;
    }
 
}
 