$bg: #3183ad;

// Header
$title-color:#fff;
$title-highcolor:#ffef98;

$h1-shadow:0 2px 1px rgba(0,0,0,.3);

$subtitle-color:#fff;


// Form 
$form-bg:#fff;
$form-header-bg: #41667f;
$form-header-color:$title-color;

// Footer 
$footer-color:$title-color;