.tc {
	text-align:center;
}

.nmb {
	margin-bottom:0 !important;
}
 
h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 7em;
	color:$title-color;
	font-weight:400;
	text-align:center;
	text-shadow: $h1-shadow;
	line-height:1;
	margin-top:.2em;
	margin-bottom:0;

	span {
		color:$title-highcolor;
	}

	@media (max-width:767px) {
    		font-size: 3.8em;
    		line-height: 1; 
	}
}

h2 {
	text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    color: $title-color;
    margin-top:0; 
    margin-bottom: 1em;
    font-weight:normal;

    &.bk {
    	color:$bk-color;
    	font-weight: 900 !important;
    	font-size: 1.5em!important;
    }

    @media (max-width:767px) {
    	font-size: 1em; 
    	margin-bottom:1em;
	}
}

h3 {
	text-transform: uppercase;
    font-size: 1.3em;
    text-align: center;
    color: $title-highcolor;
	margin: 1.5em 0 .5em;
	font-weight:normal;

    @media (max-width:767px) {
    	font-size: 1em; 
    	margin-bottom:1em;
	}
}
