<form #secondStepForm="ngForm" class="editForm" novalidate>
    <div class="tab-pane fade in active"> 
         
        
         
                        
        <fieldset>
            <legend>
                <span>5</span>
                What is the Full Name of your partner that you are thinking is cheating? 
            </legend>

            <div class="form-group">
                <input class="form-control input-md" #fullName="ngModel" required id="partnerFullName" name="fullName" type="text" placeholder="Your Partner Full Name" [(ngModel)]="secondstep.partnerFullName">
            </div>
        </fieldset>     

        <fieldset>
            <legend>
                <span>4</span>
                What is your partner gender?
            </legend>

            <div class="form-group">
                <div class="form-check">
                    <label for="female">
                        <input type="radio" name="gender" id="female" value="Female" #gender="ngModel" [(ngModel)]="secondstep.partnerGender"> 
                        <span class="label-text">Female</span>
                    </label>
                </div>
                <div class="form-check">
                    <label for="male">
                        <input type="radio" name="gender" id="male" value="Male" #gender="ngModel" [(ngModel)]="secondstep.partnerGender" > 
                        <span class="label-text">Male</span>
                    </label>
                </div>
            </div>
        </fieldset>               
          
        <fieldset>
            <legend>
                <span>6</span>
                What is your partner BirthDay?
            </legend>

            <div class="form-group">
                <my-date-picker name="partnerDob" #partnerDob="ngModel" [placeholder]="placeholder" [options]="myDatePickerOptions" [(ngModel)]="secondstep.partnerDob" required></my-date-picker>
            </div>
        </fieldset>    

                    
        <div class="form-group text-center">
            <button class="btn btn-outline-rounded btn-default" onclick="return false;" [disabled]="!secondStepForm.valid" (click)="goToPrevious(secondStepForm)"> <span class="glyphicon glyphicon-chevron-left"></span> Previous</button>
            <button class="btn btn-outline-rounded btn-info"  onclick="return false;" [disabled]="!secondStepForm.valid" (click)="goToNext(secondStepForm)"> Next <span class="glyphicon glyphicon-chevron-right"></span></button>

        </div>
      
    </div>
</form> 
