 
<div id="illustrations"> 
  <div>
    <img src="./assets/img/speed.svg" alt="Less than 10 minutes"/>
    <span>Takes less than<br/>10 minutes</span>
  </div>    
  <div>
    <img src="./assets/img/honest.svg"  alt="Be Honest"/>
    <span>Answer Honestly to<br/>All Questions</span>
  </div>
  <div>
    <img src="./assets/img/no_blank.svg" alt="Leave no blank"/>
    <span>Do not leave any<br/>"Neutral" Answer</span>
  </div>
</div>   
 
<mat-card>

  <mat-card-title>
      Step 1
  </mat-card-title>

  <form #firstStepForm="ngForm" class="editForm" novalidate>  

    <div class="fc">
      <label for="fullName" class="m">What is your Full Name?</label>
      <div class="fcc">
        <mat-form-field  class="flw">
          <input matInput id="fullName" name="fullName" placeholder="Enter your full name" [(ngModel)]="firststep.fullName" #fullName="ngModel" required>
        </mat-form-field>
      </div>
    </div>

    <div class="fc">
      <label for="gender" class="m">What is your Gender?</label>
      <div class="fcc">
        <mat-radio-group  id="gender" name="gender" ng-required="true" #gender="ngModel" [(ngModel)]="firststep.gender" required>
          <mat-radio-button name="gender" value="female">Female</mat-radio-button>
          <mat-radio-button name="gender" value="male">Male</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="fc"> 
      <label for="dob" class="m">What is your Birthday?</label>
      <div class="fcc">
        <mat-form-field class="flw">
            <input id="dob" name="dob" matInput [matDatepicker]="picker" placeholder="Enter your Birthday" (focus)="_openCalendar(picker)"  (click)="_openCalendar(picker)"  #elementToFocus #dob="ngModel" [(ngModel)]="firststep.dob" [ngModelOptions]="{standalone: true}" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker touchUi="true" startView="multi-year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field> 
      </div>  
    </div>
  
    <p class="tc nmb">
        <button mat-raised-button color="primary" [disabled]="!firstStepForm.valid" (click)="goToNext(firstStepForm)"> Next  <mat-icon>chevron_right</mat-icon></button>
    </p>
  
  </form>  

</mat-card>


 
            