<mat-card>

  <mat-card-title>
      Step 3
  </mat-card-title>

  <form #thirdStepForm="ngForm" action="" class="editForm" novalidate>  


    <div class="fc">
      <label for="howlong" class="m">How long have you been seeing your partner?</label>
      <div class="fcc">
      <mat-radio-group  id="howlong" name="howlong" ng-required="true" #howlong="ngModel" [(ngModel)]="thirdstep.howlong" required>
        <mat-radio-button name="howlong" value="1">Less than 1 year</mat-radio-button>
        <mat-radio-button name="howlong" value="2">2-5 years</mat-radio-button>
        <mat-radio-button name="howlong" value="3">7 years or more</mat-radio-button>
      </mat-radio-group>
      </div>
    </div>

    <div class="fc">
      <label for="appearance" class="m">Have you noticed changes to your partners appearance? (more time concerned with it, gym membership etc)</label>
      <div class="fcc">
      <mat-radio-group  id="appearance" name="appearance" ng-required="true" #appearance="ngModel" [(ngModel)]="thirdstep.appearance" required>
        <mat-radio-button name="appearance" value="3">Yes</mat-radio-button>
        <mat-radio-button name="appearance" value="0">No</mat-radio-button>
      </mat-radio-group>
      </div>
    </div>
 
    <div class="fc">
      <label for="distant" class="m">Is your partner acting more Distant?</label>
      <div class="fcc">
      <mat-radio-group  id="distant" name="distant" ng-required="true" #distant="ngModel" [(ngModel)]="thirdstep.distant" required>
        <mat-radio-button name="distant" value="3">Yes</mat-radio-button>
        <mat-radio-button name="distant" value="0">No</mat-radio-button>
      </mat-radio-group>
      </div>
    </div>

    <div class="fc">
      <label for="calls" class="m">Did your partner used to return your calls or texts faster in the past?</label>
      <div class="fcc">
      <mat-radio-group  id="calls" name="calls" ng-required="true" #calls="ngModel" [(ngModel)]="thirdstep.calls" required>
        <mat-radio-button name="calls" value="3">Yes</mat-radio-button>
        <mat-radio-button name="calls" value="0">No</mat-radio-button>
      </mat-radio-group>
      </div>
    </div>

    <div class="fc">
      <label for="tell_lies" class="m">Does your Partner frequently tell white lies about things they supposedly took care of but you discover to be untrue?</label>
      <div class="fcc">
      <mat-radio-group  id="tell_lies" name="tell_lies" ng-required="true" #tell_lies="ngModel" [(ngModel)]="thirdstep.tell_lies" required>
        <mat-radio-button name="tell_lies" value="3">Yes</mat-radio-button>
        <mat-radio-button name="tell_lies" value="0">No</mat-radio-button>
      </mat-radio-group>
      </div>
    </div>


    <div class="fc">
      <label for="accuse" class="m">Does your partner accuse you of cheating?</label>
      <div class="fcc">
      <mat-radio-group  id="accuse" name="accuse" ng-required="true" #accuse="ngModel" [(ngModel)]="thirdstep.accuse" required>
        <mat-radio-button name="accuse" value="5">Yes</mat-radio-button>
        <mat-radio-button name="accuse" value="0">No</mat-radio-button>
      </mat-radio-group>
      </div>
    </div>

    <div class="fc">
      <label for="fight" class="m">Does your partner pick fights with you more frequently?</label>
      <div class="fcc">
      <mat-radio-group  id="fight" name="fight" ng-required="true" #fight="ngModel" [(ngModel)]="thirdstep.fight" required>
        <mat-radio-button name="fight" value="3">Yes</mat-radio-button>
        <mat-radio-button name="fight" value="0">No</mat-radio-button>
      </mat-radio-group>
      </div>
    </div>

    <div class="fc lg-rad">
      <label for="financial" class="m">Is your partner secretive about her/his financial history? (Bank statements, credit card, etc.)</label>
      <div class="fcc">
      <mat-radio-group  id="financial" name="financial" ng-required="true" #financial="ngModel" [(ngModel)]="thirdstep.financial" required>
        <mat-radio-button name="financial" value="5">Yes, I can't get access to those things</mat-radio-button>
        <mat-radio-button name="financial" value="0">No, I have full access to everything</mat-radio-button>
      </mat-radio-group>
      </div>
    </div>

    <p class="tc nmb">
      <button mat-raised-button type="submit" color="primary" [disabled]="!thirdStepForm.valid" (click)="goToPrevious(thirdStepForm)"><mat-icon>chevron_left</mat-icon>Previous</button>
      <button mat-raised-button type="submit" color="primary" [disabled]="!thirdStepForm.valid" (click)="goToNext(thirdStepForm)">Next  <mat-icon>chevron_right</mat-icon></button>
    </p>
  
  </form>  

</mat-card>
 
            